*{box-sizing: border-box;

}
div{
	/*background-color: skyblue;*/

	}
	p{
		width: 50%;
		/*border: 1px solid black;*/
		float: left;
		padding: 10px;
	}
#p1{
	/*background-color: olivedrab;*/
	
}
#p2
{
	/*background: orange;*/
	
}

section{
	clear: left;
}