*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
h1{
	margin-bottom: 15px;
}
#container{
	background-color: skyblue;
	position: relative;
	top: 50px;
}
p{
	width: 33%;
	height: 50px;
	margin-bottom: 15px;
	border: 1px solid black;
	float: left;
	margin-right: 1px;


}
#p1{
	background-color: darkgoldenrod;
	position: relative;
	top: 65px;
	left: 65px;
}
#p2{
	background-color: springgreen;
}
#p3{
	background-color: darkorange;
	position: absolute;
	top: 0px;
	bottom: 0px;
}
#p4{
	background-color: lightyellow;
}